$white: #f4f4f4;
$dark-red: #990909;
$dark-blue: #5b6770;
$standard-size-font: 0.8em;

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  margin: 0;
  padding: 0;
}

ul { list-style-type: none; padding: 0; margin: 0; font-size: 0; }
ul li { display: inline-block; }
h2 { margin: 10px 0 5px 0; font-size: 16px; }
p { line-height: 1.3; }
.none { display:none !important; }