@import 'helpers.scss';

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;

  div.container {
    width: 1045px;
    margin: 40px auto;

    #main-nav {
      background: $dark-red;
      background: -webkit-linear-gradient(top, #AD0B0B 0%, #990909);
      background: -moz-linear-gradient(top, #AD0B0B 0%, #990909);
      background: -o-linear-gradient(top, #AD0B0B 0%, #990909);
      background: -ms-linear-gradient(top, #AD0B0B 0%, #990909);
      background: linear-gradient(top, #AD0B0B 0%, #990909);
      -webkit-box-shadow:inset 0px 0px 2px rgba(40,40,40,0.7);
      -moz-box-shadow:inset 0px 0px 2px rgba(40,40,40,0.7);
      box-shadow:inset 0px 0px 2px rgba(40,40,40,0.7);
      text-shadow: #000 2px 4px;
      border-radius: 10px 10px 0 0;
      position: relative;

      ul li:first-child { border-radius: 10px 0 0 0; }

      ul li { padding: 0; text-transform: capitalize; font-size: 16px;

        a { color: #fff; text-decoration: none; ; display: block; padding: 18px 33px; border-right: 1px solid $white; }

          &:hover { background-color: #CA0808; }

        > div { display: none; position: absolute; left: 0; border: solid 1px #ccc; width: 100%; background-color: #efefef; text-shadow: none; min-height: 670px;

          > h2 { margin: 10px; }

          dl:first-child { padding-top: 0; }

          dl { width: 30%; margin: 0; padding-top: 20px;

            dt { padding: 8px; border-bottom: solid 1px #000; font-weight: bold; }

            dd { display: block; padding: 0 8px; margin: 0; background: url('../images/nav-icon.png') no-repeat 96% center;

              &:hover { background-color: #ccc; }

              a { color: #6f6f6b; padding: 12px 0 9px 0; /*border-bottom: solid 1px #c0c0be;*/ border-right: none;}

              a.last { border: none; }

              > div { display: none; position: absolute; top: 0; left: 30%; width: 70%; padding: 0 8px 8px; height: 100%; border-left: none;

                > div { position: static; width: 49%; background-color: $white; padding: 10px; margin-top: 10px;

                  div.img { width: 100%; height: 150px; background-color: #efefef; margin-bottom: 10px; }
                }

                div.left {
                   float: left;
                }

                div.right {
                  float: right;
                }

              }

              dl {
                top: 0; left: 30%; position: absolute; display: none; padding: 0; min-height: 100%; background-color: #f8f8f8;

                dl { left: 100%; width: 100%; min-height: 100%;

                }

                div {
                  width: 310px; position: absolute; left: 100%;
                }

              }

            }

            dd:hover > div { display: block; }
            dd:hover > dl { display: block; }

          }

        }

      }

      /*li:hover > div { display: block; }*/

    }

  }

}