@import 'helpers.scss';

body {
  /*background: url("../images/bg.jpg?12") no-repeat top center;*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;

  div.container {
    min-width: 746px;
    max-width: 1047px;
    padding: 136px 0;
    margin: 0 auto;

    #main-nav {
      position: relative;

      ul li:first-child > a { padding-left: 12px; }

      ul li { padding: 0; text-transform: capitalize; font-size: 17px;

        a { color: $dark-blue; text-decoration: none; ; display: block; padding: 6px 12px 5px; border-right: 1px solid #bbb; }

        > div { display: none; position: absolute; left: 0; width: 100%; background-color: $dark-blue; text-shadow: none; min-height: 670px; color: $white; font-size: $standard-size-font; font-weight: normal;

          > div { position: absolute; right: 0; top: 0; padding: 20px 12px; width: 33%; font-size: $standard-size-font + 0.5em; z-index: 0; }

          > h2 { margin: 12px; }

          dl:first-child { padding-top: 0; }

          dl { width: 33%; margin: 0; padding-top: 20px; z-index: 1;

            dt { padding: 12px; font-weight: bold; font-size: 1.2em; }

            dd { display: block; padding: 0 12px; margin: 0; background: url('../images/nav-icon.png') no-repeat 96% center;

              a { color: $white; padding: 12px 0 9px 0; border-right: none;}

              a:hover { color: $dark-blue; }

              > div { display: none; position: absolute; top: 0; left: 33%; width: 67%; padding: 0 12px 12px; height: 100%; z-index: 2;

                > div { position: static; width: 49%; background-color: $white; padding: 10px; margin-top: 15px; color: $dark-blue; z-index: 3;

                  div.img { width: 100%; height: 150px; background-color: #ccc; margin-bottom: 10px; }
                }

                div.left {
                   float: left;
                }

                div.right {
                  float: right;
                }

              }

              dl {
                top: 0; left: 33%; position: absolute; display: none; padding: 0; min-height: 100%; background-color: $dark-blue; color: $white; z-index: 4;

                dl { left: 100%; width: 100%; min-height: 100%;

                }

                div {
                  width: 100%; position: absolute; left: 100%; background-color: $dark-blue; color: $white; z-index: 5;
                }

              }

            }

            dd:hover { background: $white url('../images/nav-icon.png') no-repeat 96% center; color: $dark-blue; }
            dd:hover > a { color: $dark-blue; }
            dd:hover > div { display: block; }
            dd:hover > dl { display: block; }

          }

        }

      }

      li:hover { background-color: $dark-blue; color: $white; border-color: $dark-blue; }
      li:hover > a { background-color: $dark-blue; color: $white; border-color: $dark-blue; }
      li:hover > div { display: block; }

    }

  }

}